<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Profile</title>
 
    <link rel="stylesheet" href="profile.css">  
    <link href="https://fonts.googleapis.com/css2?family=Aldrich&family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
<!-- MAIN CONTENT-->
<div class="main-content">
    <h2 class="title">PROFILE</h2>
</div>

<div class="parent-container">
    <div class="row">
        <div class="column">
            <img src="img/VANICA.png" alt="Image 1">
            <p class="name">LOBUSTA, VANICA O.</p>
            <p class="content">
              <span class="topic">What I do: </span>I a Computer Engineering student.<br>
              I currently study at Polytechnic University of the Philippines (Sta. Mesa Manila)<br>
              <span class="topic">Birthday:  </span> November. 29, 2002<br>
              <span class="topic">Zodiac Sign:  </span> Sagittarius
            </p>
        </div>
    </div>
</div>

</body>
</html>
